<settings>
  <setting id="columns"   label="30000" type="slider" option="int" range="1,1,200" default="50"/>
  <setting id="rows"      label="30001" type="slider" option="int" range="1,1,200" default="30"/>
  <setting id="chars"     label="30002" type="slider" option="int" range="1,1,100" default="32"/>
  <setting id="charsizex" label="30003" type="slider" option="float" range="0,0.01,1.0" default="0.32"/>
  <setting id="charsizey" label="30004" type="slider" option="float" range="0,0.01,1.0" default="0.26"/>
</settings>
