Source: kodi-screensaver-matrixtrails
Priority: extra
Maintainer: Arne Morten Kvarving <cptspiff@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, kodi-addon-dev,
               libgl1-mesa-dev
Standards-Version: 3.9.5
Section: libs
Homepage: http://kodi.tv

Package: kodi-screensaver-matrixtrails
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Matrix Trails screensaver for Kodi
 Matrix Trails screensaver for Kodi

Package: kodi-screensaver-matrixtrails-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for Matrix Trails screensaver for Kodi
 debug symbols for Matrix Trails screensaver for Kodi
